---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="We're an all-day Italian diner, serving pizza, pasta and aperitivo at The Uni of Melbourne." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="https://asset.mmm.page/c9/385cb696804cf28c91ae325df15fcc/9qp9c8.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<script>
			import Alpine from 'alpinejs'
			import collapse from '@alpinejs/collapse'

			document.addEventListener('astro:page-load', () => {
				Alpine.plugin(collapse)
				window.Alpine = Alpine
				Alpine.start()
			})
		</script>
		<style is:global>
			[x-cloak] { display: none !important; }
		</style>
	</head>
	<body class="bg-[rgb(251,249,229)]">
		<slot />
	</body>
</html>
